In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ["EIN", "NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
ap_types = application_df[ 'APPLICATION_TYPE'].value_counts()
ap_types

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(ap_types[ap_types < 600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_bins = application_df['CLASSIFICATION'].value_counts()
class_bins.count()

71

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count = class_bins[class_bins > 1]
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (class_bins[class_bins < 100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype = float)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis = 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 30)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_feature = len(X_train_scaled[0])

layer1 = 30
layer2 = 30
layer3 = 30
layer4 = 50
layer5 = 50
layer6 = 60

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = layer1, input_dim = input_feature, activation ='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = layer2, activation ='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units = layer3, activation ='relu'))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units = layer4, activation ='relu'))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units = layer5, activation ='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 30)                1470

 dense_7 (Dense)             (None, 30)                930

 dense_8 (Dense)             (None, 30)                930

 dense_9 (Dense)             (None, 50)                1550

 dense_10 (Dense)            (None, 50)                2550

 dense_11 (Dense)            (None, 1)                 51

=================================================================
Total params: 7,481
Trainable params: 7,481
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split = 0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5767 - accuracy: 0.7187 - val_loss: 0.5585 - val_accuracy: 0.7287
Epoch 2/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7322 - val_loss: 0.5544 - val_accuracy: 0.7292
Epoch 3/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7331 - val_loss: 0.5569 - val_accuracy: 0.7276
Epoch 4/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7359 - val_loss: 0.5553 - val_accuracy: 0.7238
Epoch 5/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7357 - val_loss: 0.5551 - val_accuracy: 0.7297
Epoch 6/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7354 - val_loss: 0.5532 - val_accuracy: 0.7297
Epoch 7/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7369 - val_loss: 0.5523 - val_accuracy: 0.7308
Epoch 8/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7367 - val_loss: 0.5505 - val_accuracy: 0.7300
Epoch 9/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7383 - val_loss: 0.5524 - val_accuracy: 0.7251
Epoch 10/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7373 - val_loss: 0.5546 - val_accuracy: 0.7313
Epoch 11/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7383 - val_loss: 0.5501 - val_accuracy: 0.7295
Epoch 12/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7406 - val_loss: 0.5523 - val_accuracy: 0.7334
Epoch 13/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7390 - val_loss: 0.5533 - val_accuracy: 0.7313
Epoch 14/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7393 - val_loss: 0.5501 - val_accuracy: 0.7313
Epoch 15/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7399 - val_loss: 0.5509 - val_accuracy: 0.7313
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7403 - val_loss: 0.5493 - val_accuracy: 0.7326
Epoch 17/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7412 - val_loss: 0.5532 - val_accuracy: 0.7308
Epoch 18/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7399 - val_loss: 0.5532 - val_accuracy: 0.7315
Epoch 19/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7394 - val_loss: 0.5519 - val_accuracy: 0.7310
Epoch 20/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7401 - val_loss: 0.5528 - val_accuracy: 0.7315
Epoch 21/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7412 - val_loss: 0.5555 - val_accuracy: 0.7289
Epoch 22/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7410 - val_loss: 0.5526 - val_accuracy: 0.7313
Epoch 23/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7411 - val_loss: 0.5526 - val_accuracy: 0.7318
Epoch 24/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7411 - val_loss: 0.5548 - val_accuracy: 0.7292
Epoch 25/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7423 - val_loss: 0.5530 - val_accuracy: 0.7318
Epoch 26/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7410 - val_loss: 0.5532 - val_accuracy: 0.7308
Epoch 27/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7411 - val_loss: 0.5560 - val_accuracy: 0.7308
Epoch 28/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7407 - val_loss: 0.5520 - val_accuracy: 0.7323
Epoch 29/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7410 - val_loss: 0.5514 - val_accuracy: 0.7326
Epoch 30/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7421 - val_loss: 0.5519 - val_accuracy: 0.7308
Epoch 31/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7412 - val_loss: 0.5538 - val_accuracy: 0.7315
Epoch 32/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7414 - val_loss: 0.5533 - val_accuracy: 0.7318
Epoch 33/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7431 - val_loss: 0.5554 - val_accuracy: 0.7323
Epoch 34/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7425 - val_loss: 0.5536 - val_accuracy: 0.7331
Epoch 35/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7426 - val_loss: 0.5607 - val_accuracy: 0.7271
Epoch 36/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7428 - val_loss: 0.5551 - val_accuracy: 0.7323
Epoch 37/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7421 - val_loss: 0.5557 - val_accuracy: 0.7323
Epoch 38/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7425 - val_loss: 0.5524 - val_accuracy: 0.7318
Epoch 39/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7418 - val_loss: 0.5534 - val_accuracy: 0.7323
Epoch 40/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7429 - val_loss: 0.5569 - val_accuracy: 0.7321
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7430 - val_loss: 0.5550 - val_accuracy: 0.7310
Epoch 42/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7416 - val_loss: 0.5564 - val_accuracy: 0.7323
Epoch 43/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7430 - val_loss: 0.5550 - val_accuracy: 0.7318
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7430 - val_loss: 0.5607 - val_accuracy: 0.7315
Epoch 45/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7432 - val_loss: 0.5524 - val_accuracy: 0.7336
Epoch 46/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7432 - val_loss: 0.5566 - val_accuracy: 0.7331
Epoch 47/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7435 - val_loss: 0.5556 - val_accuracy: 0.7334
Epoch 48/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7438 - val_loss: 0.5568 - val_accuracy: 0.7271
Epoch 49/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7420 - val_loss: 0.5553 - val_accuracy: 0.7326
Epoch 50/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7426 - val_loss: 0.5556 - val_accuracy: 0.7323
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7438 - val_loss: 0.5564 - val_accuracy: 0.7323
Epoch 52/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5290 - accuracy: 0.7437 - val_loss: 0.5580 - val_accuracy: 0.7313
Epoch 53/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7426 - val_loss: 0.5570 - val_accuracy: 0.7266
Epoch 54/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5290 - accuracy: 0.7433 - val_loss: 0.5613 - val_accuracy: 0.7308
Epoch 55/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7433 - val_loss: 0.5560 - val_accuracy: 0.7318
Epoch 56/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7443 - val_loss: 0.5545 - val_accuracy: 0.7313
Epoch 57/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7436 - val_loss: 0.5573 - val_accuracy: 0.7313

Epoch 58/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7438 - val_loss: 0.5567 - val_accuracy: 0.7287
Epoch 59/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5284 - accuracy: 0.7426 - val_loss: 0.5578 - val_accuracy: 0.7315
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7434 - val_loss: 0.5573 - val_accuracy: 0.7323
Epoch 61/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7428 - val_loss: 0.5581 - val_accuracy: 0.7318
Epoch 62/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7433 - val_loss: 0.5577 - val_accuracy: 0.7266
Epoch 63/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7437 - val_loss: 0.5589 - val_accuracy: 0.7323
Epoch 64/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5284 - accuracy: 0.7431 - val_loss: 0.5589 - val_accuracy: 0.7318
Epoch 65/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5274 - accuracy: 0.7435 - val_loss: 0.5578 - val_accuracy: 0.7276
Epoch 66/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7445 - val_loss: 0.5600 - val_accuracy: 0.7276
Epoch 67/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7437 - val_loss: 0.5565 - val_accuracy: 0.7321
Epoch 68/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7443 - val_loss: 0.5579 - val_accuracy: 0.7308
Epoch 69/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5274 - accuracy: 0.7443 - val_loss: 0.5696 - val_accuracy: 0.7282
Epoch 70/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5274 - accuracy: 0.7442 - val_loss: 0.5597 - val_accuracy: 0.7313
Epoch 71/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7436 - val_loss: 0.5587 - val_accuracy: 0.7315
Epoch 72/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5278 - accuracy: 0.7432 - val_loss: 0.5610 - val_accuracy: 0.7308
Epoch 73/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5268 - accuracy: 0.7441 - val_loss: 0.5582 - val_accuracy: 0.7315
Epoch 74/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5270 - accuracy: 0.7429 - val_loss: 0.5575 - val_accuracy: 0.7326
Epoch 75/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5273 - accuracy: 0.7440 - val_loss: 0.5581 - val_accuracy: 0.7328
Epoch 76/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5271 - accuracy: 0.7434 - val_loss: 0.5596 - val_accuracy: 0.7308
Epoch 77/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5269 - accuracy: 0.7434 - val_loss: 0.5598 - val_accuracy: 0.7334
Epoch 78/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5262 - accuracy: 0.7446 - val_loss: 0.5595 - val_accuracy: 0.7318
Epoch 79/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5267 - accuracy: 0.7440 - val_loss: 0.5661 - val_accuracy: 0.7334
Epoch 80/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5275 - accuracy: 0.7440 - val_loss: 0.5603 - val_accuracy: 0.7336
Epoch 81/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5268 - accuracy: 0.7441 - val_loss: 0.5591 - val_accuracy: 0.7292
Epoch 82/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5267 - accuracy: 0.7443 - val_loss: 0.5631 - val_accuracy: 0.7315
Epoch 83/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5269 - accuracy: 0.7437 - val_loss: 0.5599 - val_accuracy: 0.7318
Epoch 84/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5260 - accuracy: 0.7446 - val_loss: 0.5602 - val_accuracy: 0.7318
Epoch 85/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5265 - accuracy: 0.7432 - val_loss: 0.5612 - val_accuracy: 0.7321
Epoch 86/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5263 - accuracy: 0.7442 - val_loss: 0.5641 - val_accuracy: 0.7282
Epoch 87/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5262 - accuracy: 0.7439 - val_loss: 0.5631 - val_accuracy: 0.7305
Epoch 88/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5263 - accuracy: 0.7440 - val_loss: 0.5644 - val_accuracy: 0.7276
Epoch 89/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5265 - accuracy: 0.7434 - val_loss: 0.5668 - val_accuracy: 0.7321
Epoch 90/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5264 - accuracy: 0.7439 - val_loss: 0.5662 - val_accuracy: 0.7313
Epoch 91/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5260 - accuracy: 0.7444 - val_loss: 0.5638 - val_accuracy: 0.7318
Epoch 92/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5260 - accuracy: 0.7451 - val_loss: 0.5648 - val_accuracy: 0.7308
Epoch 93/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5258 - accuracy: 0.7453 - val_loss: 0.5631 - val_accuracy: 0.7313
Epoch 94/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5252 - accuracy: 0.7441 - val_loss: 0.5656 - val_accuracy: 0.7315
Epoch 95/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5263 - accuracy: 0.7445 - val_loss: 0.5633 - val_accuracy: 0.7321
Epoch 96/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5259 - accuracy: 0.7455 - val_loss: 0.5610 - val_accuracy: 0.7321
Epoch 97/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5256 - accuracy: 0.7445 - val_loss: 0.5690 - val_accuracy: 0.7318
Epoch 98/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5253 - accuracy: 0.7446 - val_loss: 0.5687 - val_accuracy: 0.7321
Epoch 99/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5247 - accuracy: 0.7456 - val_loss: 0.5681 - val_accuracy: 0.7323
Epoch 100/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5262 - accuracy: 0.7451 - val_loss: 0.5635 - val_accuracy: 0.7282

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5846 - accuracy: 0.7194 - 204ms/epoch - 762us/step
Loss: 0.5846421122550964, Accuracy: 0.7194169163703918